body {
  height: 100%;
  background: url('../images/forrest.jpg') rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font: 400 1.25em/1.38 'Open Sans';
  color: rgb(255, 255, 255);
}

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: 493px;
  margin: auto;
}

.image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 410px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.text {
  position: absolute;
  left: 0;
  right: 0;
  width: 99.9166666666%;
  min-height: 48px;
  margin: 0 auto;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-1 {
  top: 455px;
  z-index: 2;
  font-size: 1em;
}

.text-2 {
  top: 393px;
  z-index: 1;
  font-size: 2.25em;
}

@media(max-width: 444px) {
  .container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .container .image {
    top: auto;
    bottom: 83px;
    left: 0;
    right: 0;
    width: 92.3423423423%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}